* {
    margin: 0;
    padding: 0;
}
h2 {
    color: blue;
}
h3 {
    color: green;
}
[type="text"] {
    border: 1px solid gray;
}
[href*="example"] {
    color: red;
}
.article-title {
    font-size: 20px;
    font-weight: bold;
}
#header {
    background-color: darkgray;
}
#header > h1 {
    font-size: 32px;
    font-weight: bold;
    padding: 12px 2px 12px 20px;
}
#header .link {
    padding: 12px 8px;
}
#header a {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}
#container .container-btn:hover {
    background-color: #ffffff;
    font-size: 24px;
}
#container .container-item:first-child {
    color: red;
}
#container .container-item::before {
    content: "* ";
}
#container .container-item::after {
    content: "!!!";
}