* {
    margin: 0;
    padding: 0;
}
main {
    padding: 30px;
}
.title {
    font-size: 64px;
    font-weight: bold;
    margin: 10px 0;
}
.box {
    padding: 24px;
    width: 300px;
    border: 1px solid;
    text-align: center;
    /* box-sizing: border-box; */
}
#test-btn {
    margin: 10px;
    padding: 10px 24px;
    font-size: 12px;
    font-weight: bold;
}